*{
    margin: 0;
    padding: 0;
}
.setting-box{
    height: auto;
    margin: 10px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
}
.post-list{
    height:400px;
    overflow-y: auto;
    overflow-x: auto;
}
.categorybtn{
    display: block;
    padding: 2px 5px;
    margin: 5px 10px;
    width: 190px;
    background-color: green;
    color: white;
    align-self: center;
}
