<!-- <div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-12">
            <div class="row mt-3">
            <div class="col-lg-2">

            </div> -->
        <!-- blog Post---->
<!-- 
            <div class="col-lg-7 col-md-12 col-sm-12 blogBox">
              <div class="recentPosts">
                  <div class="row blogPost-tile" *ngFor="let post of fPost">
                      <div class="col-12 blogpost-list">

                                    <img src="{{post.blogImageLink}}" class="thumbanilImage">
                                            <a [routerLink]="['post',post.id]" routerLinkActive="active" class="blog-title"> {{post.blogTitle}}</a> 
                                             <div class="blog-category-type">
                                                  <div class="post-date">
                                                      Published: {{post.published.toDate() | date: 'fullDate'}}
                                                  </div>
                                                  &bull;
                                                  <div class="post-category">
                                                     Category: {{post.blogCategory}}
                                                  </div>
                      </div>
                  </div>
                
                </div>
                </div>
            </div>
            <div class="col-lg-3  col-sm-12">
                <div class="row blogPost-tile" *ngFor="let recentPost of recentPost | async">
                    <div class="col-12 blogpostLink-list">
                            <img src="{{recentPost.blogImageLink}}" class="thumbanil-LinkImage">
                            <a [routerLink]="['post',recentPost.id]" routerLinkActive="active" class="blogLink-title"> {{recentPost.blogTitle}} </a> 
                             <div class="blogLink-category-type">
                                  <div class="post-date">
                                     Published: {{recentPost.published.toDate() | date: 'fullDate'}}
                                  </div>
                                  &bull;
                                  <div class="post-category">
                                     Category: {{recentPost.blogCategory}}
                                  </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div> -->