<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
                <div class="market-nav">
                        <nav class="market-category">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="">Cat One</a></li>
                                <li><a href="">Cat Two</a></li>
                                <li><a href="">Cat Three</a></li>
                                <li><a href="">Cat Four</a></li>
                                <li><a href="/blog">Blog</a></li>
                            </ul>
                        </nav>
                </div>
        </div>
    </div>

    <div class="row">
       <div class="col-lg-10 items-list">

           <div class="card item-list" *ngFor="let item of allProduct">
               <img src="{{item.pro_img}}" class="card-img-top">
               <div class="card-body">
                   <div class="card-title itemTitle">{{item.pro_name}}</div>
                   <div class="card-text itemText"><i class="fa fa-inr" aria-hidden="true"></i> {{item.pro_price}}</div>
                   <div class="card-footer">
                       <a class="btn btn-block btn-success buyBtn" href="{{item.pro_url}}" target="_blank">Buy Now</a>
                   </div>
               </div>
           </div>
       </div>

       <div class="col-lg-2">

       </div>
    </div>
</div>
