<!-- Top Navigation Sections -->
<router-outlet> 
  
</router-outlet>
<div class="container-fluid">
   <div class="profileLinksBottom">
    <a href="#" class="borderBoxBottom"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#" class="borderBoxBottom"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    <a href="#" class="borderBoxBottom"><i class="fa fa-envelope " aria-hidden="true"></i></a>
    <a href="#" class="borderBoxBottom"><i class="fa fa-github" aria-hidden="true"></i></a>
   </div>
</div>
<button  id="myBtn" title="Go to top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></button>
