*{
    margin: 0px;
    padding: 0px;
}
/* New Layout Css  */
.headerDiv{
    /* background-image: url('../assets/images/bgImage2.jpg'); */
    background: linear-gradient(rgba(10,10,10,.6), rgba(10,10,10,.7)),url('../assets/images/bgImage2.jpg');
    min-height: 670px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.textBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}
.headText{
 display: flex;
 justify-content: center;
 font-size: 2.2rem;
 font-weight: 200;
}
.headTextName{
display: flex;
justify-content: center;
font-size: 4.1rem;
font-weight: 500;
}


nav{
    padding: 0 30px;
    top: 0px;
    left: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 20px;
    color:blue;
    width: 100%;
}
.navbar{
 background-color:white;
 border-bottom: 1px;
 border-bottom-style: solid;
 border-color:#bdbdbd;
}
.fixed{
    position:fixed;
    top: 0px;
    left:0px;
    z-index: 10;
    background-color:#c8e6c9;

}
.navbar-brand{
    font-size: 30px;
    padding: 0px 5px 0px 20px;
    color:blue;
    font-weight: lighter;
}
.navbar-collapse ul{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-collapse ul li{
    padding: 12px 5px 12px 5px;
}

.navbar-collapse ul li a{
 color: blue;
}
.navbar-toggler{
    margin-right:10px;
}
.ProfileLinkBox{
    position: absolute;;
    bottom: 90px;
    left: 50%;
    transform: translate(-50%,0);
    padding:5px;
    display: flex;
    justify-content:center;
 }
 .borderBox{
    box-sizing: border-box;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
    margin: 0px 10px;
    color:#fffffb;
    text-decoration: none;
 }
 .borderBox:nth-child(1){
     padding-left:14px;
     padding-right: 14px;
    }
 .borderBox:hover{
     color: #0100ca;
     background-color: #fffffb;
     box-shadow: 0px 0px 13px 5px rgba(212, 212, 212, 0.94);

 }
.ProfileLinkBox a{
    font-size: 18px;
    display: flex;
    justify-content: center;
}
.profileLinksBottom{
    padding:5px 20px;
    display: flex;
    justify-content: center;
}
.borderBoxBottom{
    color: #0100ca;
    font-size: 20px;
    padding: 10px;
    margin-left:10px;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00b0ff;
    padding: 8px 13px;
    border-radius: 5px;
    font-size:25px;
}
.scrolldown{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 35px;
    height: 35px;
    transform: translateY(-10px) translateX(-50%) rotate(45deg)
}
.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #fffffb;
  border-right: 2px solid #fffffb;
  animation: anim 1.4s linear infinite;
  opacity: 0;
}
.scrolldown span:nth-child(1){
    transform: translate(-10px,-10px);
    animation-delay: -0.4s;
}
.scrolldown span:nth-child(2){
    transform: translate(0,0);
    animation-delay: -0.2s;
}
.scrolldown span:nth-child(3){
    transform: translate(10px,10px);
    animation-delay: 0s;
}
@keyframes anim{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%,100%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}



#myBtn:hover{
    background-color:#0039cb;
    color: #fffffb;
}
