*{
    margin: 0px;
    padding: 0px;
}
/* New Layout Css  */
.profileLinksBottom{
    position: relative;
    bottom: 0;
    padding:5px 20px;
    display: flex;
    justify-content: center;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #00b0ff;
    padding: 8px 13px;
    border-radius: 5px;
    font-size:25px;
}
.borderBoxBottom{
    color: #0100ca;
    font-size: 20px;
    padding: 10px;
    margin-left:10px;
}



#myBtn:hover{
    background-color:#0039cb;
    color: #fffffb;
}
