<div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                  <div class="row">
                      <div class="col-2">
                          <div class="admin-sideMenu">
                              <ul>
                                  <li><a routerLink="homeAdmin" routerLinkActive="active">Admin Home</a></li>
                                  <li><a routerLink="product-admin" routerLinkActive="active">Manage Product</a></li>
                                  <li><a routerLink="blog-admin" routerLinkActive="active">Manage Blog</a></li>
                                  <li><a routerLink="post-settings" routerLinkActive="active">Post Seetings</a></li>
                                  <li><a routerLink="user-contact" routerLinkActive="active">Contact Messages</a></li>

                              </ul>
                          </div>
                      </div>
                      <div class="col-9">
                            <router-outlet></router-outlet>
                      </div>
                      <div class="col-1">
                          
                      </div>
                  </div> 
            </div>
    </div>