*{
    margin: 0px;
    padding: 0px;
}
.blogBox{
    padding: 5px 5px;
}


.blogpost-list{
    overflow: auto;
    background-color:#e8f5e9;
    margin: 5px 0px;
    }
    
.blogpostLink-list{
        overflow: auto;
        background-color: #e0f7fa;
        margin: 5px 0px;
    }
.blogPost-tile{
        width: 100%;
    }
    
    /* Image  */
.thumbanilImage{
        width: 270px;
        height: 170px;
        float: left;
        margin-right: 15px;
    }
    
.thumbanil-LinkImage{
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 7px;
    }
    
    /* Title */
.blog-title{
        font-family: Arial, Helvetica, sans-serif;
        color: blue;
        font-size: 20px;
}
.blogLink-title{
        font-family: Arial, Helvetica, sans-serif;
        color:#109407;
        font-size: 14px;
}
    /* Blog Category */
.blog-category-type{
      margin: 7px 4px;
      display: flex;
      justify-content:left;
      color: #494949;
      font-size: 15px;
}
.blogLink-category-type{
        margin: 5px 3px;
        display: flex;
        justify-content: left;
        color: #494949;
        font-size: 12px;
    }
.post-date{
        margin-right: 10px;
    }
.post-category{
        margin-left:20px;
    }
.newTech{
        cursor: pointer;
    }
    
    /* Blog Links section */
    
    
@media only screen and (max-width:888px) {
        .blog-title{
            font-family: Arial, Helvetica, sans-serif;
            color: blue;
            font-size: 1.3rem;
        }
        .thumbanilImage{
            width: 250px;
            height: 150px;
            float: left;
        }
}