*{
    margin: 0px;
    padding: 0px;
}
.blogBox{
    padding: 2px 2px;
}
.blog-bdy{
    max-height: 700px;
    overflow-y: hidden;
}
.content{
    max-height: 700px;
    overflow-y: auto;
}
.content::-webkit-scrollbar{
    width: 8px;
}
.content::-webkit-scrollbar-thumb{
    background-color: #616161;
    width: 5px;
    border-radius: 10px;
}
.content::-webkit-scrollbar-track{
    background-color:#bdbdbd;
}
.data-end{
    display: flex;
    justify-content: center;
    padding: 5px 10;
    width: 100%;
    background-color: #bdbdbd;
    color: black;
    margin: 10px 0px;
}
 
.blogpost-list{
    background-color:#ffffff;
    margin: 5px 0px;
    box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    }
     
.blogPost-tile{
        width: 100%;
    }
    
    /* Image  */
.thumbanilImage{
        width: 270px;
        height: 170px;
        float: left;
        margin-right: 15px;
    }
    
    
    /* Title */
.blog-title{
        font-family: Arial, Helvetica, sans-serif;
        color:#1565c0;
        font-size: 18px;
}

    /* Blog Category */
.blog-category-type{
      margin: 7px 4px;
      display: flex;
      justify-content:left;
      color: #494949;
      font-size: 15px;
}

.post-date{
        margin-right: 10px;
    }
.post-category{
        margin-left:20px;
    }

    
    /* Blog Links section */
    
    
@media only screen and (max-width:888px) {
        .blog-title{
            font-family: Arial, Helvetica, sans-serif;
            color: #1565c0;
            font-size: 1.3rem;
        }
        .thumbanilImage{
            width: 250px;
            height: 150px;
            float: left;
        }
}

@media only screen and (max-width:500px){
    .thumbanilImage{
    width: 100px;
    height: 110px;
    float: left;
    margin-right: 7px;
    object-fit: cover;
    }
    .blog-title{
        font-size: 15px;
    }
    .blog-category-type{
    margin: 4px 2px;
    display: flex;
    justify-content: left;
    color: #494949; 
    font-size: 12px;
    }

}