<div class="container-fluid m-0 p-0">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                        <div class="blog-Nav">
                                <nav class="blog-catgeory">
                                    <ul>
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="/blog">Blog</a></li>
                                        <li><a routerLink="new-tech" routerLinkActive="active">New Tech</a></li>
                                        <li><a routerLink="digital-marketing" routerLinkActive="active">Digital Marketing</a></li>
                                        <li><a routerLink="business" routerLinkActive="active">Business</a></li>
                                        <li><a routerLink="how-to" routerLinkActive="active">How To</a></li>
                                        <li><a routerLink="/marketplace" routerLinkActive="active">Marketplace</a></li>
                                    </ul>
                                </nav>
                        </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-12">
                        <router-outlet> </router-outlet>
                </div>
            </div>
           
    </div>
</div>
</div>