<div class="container-fluid">
    <div class="row">
        <div class="col-12">
                <div class="blog-Nav">
                        <nav class="blog-catgeory">
                            <ul>
                                <li><a href="">New Tech</a></li>
                                <li><a href="">Digital Marketing</a></li>
                                <li><a href="">Business</a></li>
                                <li><a href="">How To</a></li>
                            </ul>
                        </nav>
                </div>

            <div class="row mt-3">
                <div class="col-lg-2"></div>
            <div class="col-lg-7 col-md-7 col-sm-12 blogBox">
              <div class="recentPosts">
                  <div class="row blogPost-tile">
                      <div class="col-12 blogpost-list">
                          <img src="../../assets/images/imgThumbanil.png" class="img-thumbnail thumbanilImage img-fluid">
                           <div class="blog-title">
                               Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                               <div class="blog-category-type">
                                    <div class="post-date">
                                        Date: Mon,29 July 19
                                    </div>
                                    <div class="post-category">
                                        Digital Marketing
                                    </div>
                                </div>
                           </div>
                      </div>
                  </div>
                  <div class="row blogPost-tile">
                        <div class="col-12 blogpost-list">
                            <img src="../../assets/images/imgThumbanil.png" class="img-thumbnail thumbanilImage">
                             <div class="blog-title">
                                 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                 <div class="blog-category-type">
                                     <div class="post-date">
                                         Date: Mon,29 July 19
                                     </div>
                                     <div class="post-category">
                                         Business
                                     </div>
                                 </div>
                                 
                             </div>
                        </div>
                    </div>
                    <div class="row blogPost-tile">
                            <div class="col-12 blogpost-list">
                                <img src="../../assets/images/imgThumbanil.png" class="img-thumbnail thumbanilImage">
                                 <div class="blog-title">
                                     Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                     <div class="blog-category-type">
                                            <div class="post-date">
                                                Date: Mon,29 July 19
                                            </div>
                                            <div class="post-category">
                                                Finance
                                            </div>
                                        </div>
                                 </div>
                            </div>
                        </div>
                        <div class="row blogPost-tile">
                                <div class="col-12 blogpost-list">
                                    <img src="../../assets/images/imgThumbanil.png" class="img-thumbnail thumbanilImage">
                                     <div class="blog-title">
                                         Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                         <div class="blog-category-type">
                                                <div class="post-date">
                                                    Date: Mon,29 July 19
                                                </div>
                                                <div class="post-category">
                                                    Finance
                                                </div>
                                            </div>
                                     </div>
                                </div>
                            </div>
              </div>
            </div>
            <div class="col-lg-3">
                <div class="container-fluid">
                    <div class="postLinkSection">
                        <div class="postLinkHeading">Recent Posts</div>
                           <div class="container-fluid linkPost">
                               <div class="row">
                                   <div class="col-12">
                                       <div class="postImage">
                                           <img src="../../assets/images/imgThumbanil.png" class="img-thumbanil postLinkImage">
                                           <div class="postTitle">
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                            </div>
                                       </div>
                                   </div>
                               </div>
                           </div>


                           <div class="container-fluid linkPost">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="postImage">
                                            <img src="../../assets/images/imgThumbanil.png" class="img-thumbanil postLinkImage">
                                            <div class="postTitle">
                                                 Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                             </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="container-fluid linkPost">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="postImage">
                                                <img src="../../assets/images/imgThumbanil.png" class="img-thumbanil postLinkImage">
                                                <div class="postTitle">
                                                     Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                 </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="container-fluid linkPost">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="postImage">
                                                    <img src="../../assets/images/imgThumbanil.png" class="img-thumbanil postLinkImage">
                                                    <div class="postTitle">
                                                         Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="container-fluid linkPost">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="postImage">
                                                        <img src="../../assets/images/imgThumbanil.png" class="img-thumbanil postLinkImage">
                                                        <div class="postTitle">
                                                             Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                                         </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>