<div class="container-fluid m-0 p-0">
        <div class="row">
            <div class="col-lg-12">
                    <div class="market-nav">
                            <nav class="market-category">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="/marketplace">Marketplace</a></li>
                                    <li><a routerLink="Fashion" routerLinkActive="active">Fashion</a></li>
                                    <li><a routerLink="Electronics" routerLinkActive="active">Electronics</a></li>
                                    <li><a routerLink="Health-Care" routerLinkActive="active">Health & Care</a></li>
                                    <li><a routerLink="Special-offers" routerLinkActive="active">Special offers</a></li>
                                    <li><a href="/blog">Blog</a></li>
                                </ul>
                            </nav>
                    </div>
            </div> 
        </div> 
        <div class="row pro-list-bg">
            <div class="col-lg-1">

            </div>
            <div class="col-lg-8">
                <router-outlet> </router-outlet>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
    