<div class="container-fluid headerDiv paralaxx">
    <div class="textBox">
      <p class="headText">Hey,</p>
      <p class="headTextName">I Am  <span class="typing-element spanTxt"></span></p>
     </div>
     <div class="ProfileLinkBox">
       <a href="#" class="borderBox"><i class="fa fa-facebook" aria-hidden="true"></i></a>
       <a href="#" class="borderBox"><i class="fa fa-twitter" aria-hidden="true"></i></a>
       <a href="#" class="borderBox"><i class="fa fa-envelope " aria-hidden="true"></i></a>
       <a href="#" class="borderBox"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
 </div> 
 <div class="scrolldown">
  <span></span>
  <span></span>
  <span></span>
</div>
 <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" routerLink="index.html" routerLinkActive="active">Aman Gupta</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-bars" aria-hidden="true"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/marketplace" routerLinkActive="active">Marketplace</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
      </ul>
    </div>
  </nav>
<!-- About  content -->
<div class="container-fluid aboutBox" id="about">
    <div class="imageBlock">
      <img src="../assets/images/myImage2.png" class="my-img img-responsive">
    <div class="aboutMeBox">
       <p class="aboutHeading">About Me</p>
       <p class="aboutText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa omnis, delectus ea quasi sapiente, quis nemo cum sed cupiditate adipisci ipsum asperiores.
          Quia cupiditate eius recusandae, debitis deserunt enim doloribus. <br>
       <div class="aboutMeBtns">
         <button type="button" class="contactBtn">Contact Me</button>
         <button type="button" class="cvBtn">Download CV</button>
       </div>
    </div>
  </div>
   </div>

 <!-- My Skills Section  -->
   <div class="container-fluid skillBox">
   <div class="row">
     <div class="col-lg-2"></div>
     <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mySkills">
         <p class="skillHeading">My Skills</p> <br>
         <p class="skillText">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Nesciunt eos impedit velit amet magnam, recusandae a saepe dolores hic aliquam voluptas atque cupiditate magni quos unde tenetur error quis autem.</p>
         </div>
     <div class="col-lg-2"></div>
   </div>
   </div>

 <!-- My Services Section  -->
 <div class="serviceFlex">
   <div class="container-fluid service-cards">
     <div class="card-deck">
       <div class="card service-text">
         <div class="card-logo">
           <img class="card-img-top serviceLogo" src="../assets/images/angularCode2.png">
         </div>
         <div class="card-title serviceTitle">Angular Code</div>
         <div class="card-body serviceText">
             Lorem ipsum dolor, sit amet consectetur adipisicing elit.
              Dicta sunt impedit earum et! Hic praesentium vitae veritatis, quae ab velit laudantium dolore reprehenderit ex nemo rem ullam consequatur corrupti dolor.
           </div>
       </div>
       <div class="card service-text">
           <div class="card-logo">
               <img class="card-img-top serviceLogo" src="../assets/images/optimizeLogo.png">
             </div>
             <div class="card-title serviceTitle">Optimized Performance</div>
             <div class="card-body serviceText">
               Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Dicta sunt impedit earum et! Hic praesentium vitae veritatis, quae ab velit laudantium dolore reprehenderit ex nemo rem ullam consequatur corrupti dolor.
             </div>
       </div>
       <div class="card service-text">
           <div class="card-logo">
               <img class="card-img-top serviceLogo" src="../assets/images/responsive design.png">
             </div>
             <div class="card-title serviceTitle">Responsive Design</div>
             <div class="card-body serviceText">
                 Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  Dicta sunt impedit earum et! Hic praesentium vitae veritatis, quae ab velit laudantium dolore reprehenderit ex nemo rem ullam consequatur corrupti dolor.
               </div>
       </div>
     </div>
   </div>
 </div>
 <!-- My Work Section  -->
 <div class="container-fluid myWorkBox" style="height:660px">
   <p class="workHeading">Lastest Projects</p>
   <nav class="work-nav">
     <ul>
       <li><a href="#">UI/UX Design</a></li>
       <li><a href="#">Bootstrap Theme</a></li>
       <li><a href="#">Hybrid Mobile Apps</a></li>
       <li><a href="#">Progressive Web App</a></li>
     </ul>
   </nav>
 <div class="container-fluid">
   <div class="row">
     <div class="col-lg-12">
      <h3 class="text-center mt-5">Projects here</h3>
     </div>
   </div>
 </div>
 </div>
 <!-- Blog Section  -->
 <div class="container-fluid blogSection" style="height:700px;">
     <p class="workHeading">Recent From Our Blog</p>
 </div>
 
 <!-- Contact Section  -->
 <div class="contact-section" id="contact">
   <div class="container-fluid">
       <p class="contact-heading">Get in Touch</p>
       <p class="contact-subHeading">Hire Me</p>
   </div>
   <div class="row">
     <div class="col-lg-6">
       <div class="contact-details boxDivider">
         <div class="info">
             <i class="fa fa-phone" aria-hidden="true"></i> <a>+91 8601328911</a>
         </div>
         <div class="info">
             <i class="fa fa-location-arrow" aria-hidden="true"></i> <a>Civil Lines,Allahabad,Uttar Pradesh,India</a>
         </div>
         <div class="info">
             <i class="fa fa-envelope" aria-hidden="true"></i> <a>amannguptaggg@gmail.com</a>
         </div>
       </div>

     </div>
     <div class="col-lg-6">
       <div class="formbox">
         <form [formGroup]="userContactForm" (ngSubmit)="postData(userContactForm.value)">
           <div class="example-container" appearance="fill">
                 <input class="UserformField" type="text"  placeholder="Name" formControlName="userName" autocomplete="off" required>
             <input class="UserformField" type="email" placeholder="Email" formControlName="userEmail" autocomplete="new" required>
                 <input class="UserformField" type="phone"  placeholder="Mobile" formControlName="userPhone" autocomplete="new" required>
 
                 <textarea class="UserformField" placeholder="Your Message" formControlName="userMessage" required></textarea>
           </div>
           <button type="submit" class="submitButton" [disabled]="!userContactForm.valid">Send Message</button> 
         </form>
       </div>
     </div>
   </div>
 </div>