<div class="container-fluid headerDiv paralaxx">
    <div class="textBox">
      <p class="headText">Hey,</p>
      <p class="headTextName">I Am  <span class="typing-element spanTxt"></span></p>
     </div>
     <div class="ProfileLinkBox">
       <a href="https://www.facebook.com/amannguptaggg" target="_blank" class="borderBox"><i class="fa fa-facebook" aria-hidden="true"></i></a>
       <a href="https://twitter.com/aman_gupta_dev" target="_blank" class="borderBox"><i class="fa fa-twitter" aria-hidden="true"></i></a>
       <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=amannguptaggg@gmail.com" target="_blank" class="borderBox"><i class="fa fa-envelope " aria-hidden="true"></i></a>
       <a href="https://github.com/amannguptaggg" target="_blank" class="borderBox"><i class="fa fa-github" aria-hidden="true"></i></a>
      </div>
 </div> 
 <div class="scrolldown">
  <span></span>
  <span></span>
  <span></span>
</div>
 <nav class="navbar navbar-expand-md">
    <a class="navbar-brand" routerLink="index.html" routerLinkActive="active"> <img src="../../assets/images/amangupta.png" style="object-fit:cover" alt="amangupta.com"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="fa fa-bars" aria-hidden="true"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="blog" routerLinkActive="active">Blog</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" routerLink="marketplace" routerLinkActive="active">Marketplace</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
      </ul>
    </div>
  </nav>
<!-- About  content -->
<div class="container-fluid aboutBox" id="about">
    <div class="imageBlock">
      <img src="../../assets/images/amangupta.dev.png" class="my-img img-responsive" alt="amangupta.com,web developer,Angular Developer">
    <div class="aboutMeBox">
       <p class="aboutHeading">About Me</p>
       <p class="aboutText">Since my graduation I just fell down in progamming world and I started learning programming.First programming language
         I learnd was C programming. After that I decided to learn web development and app development.So I started my
         PHP traning in my own city during summer vecation and then learnd Android App Development.<br>
         After I got familiar with SPA(Single Page Application) & PWA(Progressive Web App), I just fell down in love and started to learnd Angular Framework.
         Now I am a Angular Developer.
       <div class="aboutMeBtns">
         <a type="button" class="contactBtn" href="#contact">Contact Me</a>
         <button type="button" class="cvBtn">Download CV</button>
       </div>
    </div>
  </div>
   </div>

 <!-- My Skills Section  -->
   <div class="container-fluid skillBox">
   <div class="row">
     <div class="col-lg-2"></div>
     <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 mySkills">
         <p class="skillHeading">My Skills</p> <br>
         <p class="skillText">Single Page Application is my main experties. I am a full stack web developer in Angular Freamework with neat and
           clean desining and fully responsive pages using Bootstrap,JQuery,Material Designs and SEO friendly.
         </p>
         </div>
     <div class="col-lg-2"></div>
   </div>
   </div>

 <!-- My Services Section  -->
 <div class="serviceFlex">
   <div class="container-fluid service-cards">
     <div class="card-deck">
       <div class="card service-text">
         <div class="card-logo">
           <img class="card-img-top serviceLogo" src="../assets/images/angularCode2.png" alt="angular framework developer">
         </div>
         <div class="card-title serviceTitle">Angular Framework</div>
         <div class="card-body serviceText">
            Single Page Application (SPA) using Angular Framework, Easy Navigation and Using lazy loading concepts.
            Progressive Web Application and Ionic Native and Hybrid mobile and deskotop applications.
           </div>
       </div>
       <div class="card service-text">
           <div class="card-logo">
               <img class="card-img-top serviceLogo" src="../assets/images/optimizeLogo.png" alt="optimization technique">
             </div>
             <div class="card-title serviceTitle">Optimized Performance</div>
             <div class="card-body serviceText">
               Optimized performace, light weight pages with fast loading pages using and user friendly. 
             </div>
       </div>
       <div class="card service-text">
           <div class="card-logo">
               <img class="card-img-top serviceLogo" src="../assets/images/responsive design.png" alt="responsive design">
             </div>
             <div class="card-title serviceTitle">Responsive Design</div>
             <div class="card-body serviceText">
                 Fully responsive design using Bootstrap, Angular Material Design and Google Material Design.
               </div>
       </div>
     </div>
   </div>
 </div>
 <!-- My Work Section 
 
 <!- Blog Section  -->
 <div class="container-fluid blogSection">
   <div class="blog-heading">Recent Posts From Blog</div>
  <div class="bstimeslider">
    <div id="rightArrow"><i class="fa fa-chevron-right left-ar" aria-hidden="true"></i></div>
        <div id="viewContainer">
            <div id="tslshow">
                <!-- Cards -->
                <div class="card-deck card-g">
                  <ng-container *ngFor="let recentPost of recentPost | async">
                  <div class="card blog-card">
                    <img class="card-img-top" src="{{recentPost.blogImageLink}}" alt="{{recentPost.alt}}">
                    <div class="card-body">
                      <a routerLink="/blog/post/{{recentPost.id}}" routerLinkActive="active"><p class="card-ttl">{{recentPost.blogTitle}}</p></a>
                      <small class="published-txt">Published: {{recentPost.published.toDate() | date: 'fullDate'}}</small>
                    </div>
                  </div>
                  </ng-container>
                </div>
                <!-- cards end -->
             </div>
        </div>
        <div id="leftArrow"><i class="fa fa-chevron-left left-ar" aria-hidden="true"></i></div> 
</div>
 </div>
 
 <!-- Contact Section  -->
 <div class="contact-section" id="contact">
   <div class="container-fluid">
       <p class="contact-heading">Get in Touch</p>
       <!-- <p class="contact-subHeading">Hire Me</p> -->
   </div>
   <div class="row">
     <div class="col-lg-6">
       <div class="contact-details boxDivider">
         <div class="info">
             <i class="fa fa-phone" aria-hidden="true"></i> <a>+91 8601328911</a>
         </div>
         <div class="info">
             <i class="fa fa-location-arrow" aria-hidden="true"></i> <a>Civil Lines,Allahabad,Uttar Pradesh,India</a>
         </div>
         <div class="info">
             <i class="fa fa-envelope" aria-hidden="true"></i> <a>amannguptaggg@gmail.com</a>
         </div>
       </div>

     </div>
     <div class="col-lg-6">
       <div class="formbox">
         <form [formGroup]="userContactForm" (ngSubmit)="postData(userContactForm.value)">
           <div class="example-container" appearance="fill">
                 <input class="UserformField" type="text"  placeholder="Name" formControlName="userName" autocomplete="off" required>
             <input class="UserformField" type="email" placeholder="Email" formControlName="userEmail" autocomplete="new" required>
                 <input class="UserformField" type="phone"  placeholder="Mobile" formControlName="userPhone" autocomplete="new" required>
 
                 <textarea class="UserformField" placeholder="Your Message" formControlName="userMessage" required></textarea>
           </div>
           <button type="submit" class="submitButton" [disabled]="!userContactForm.valid">Send Message</button> 
         </form>
       </div>
     </div>
   </div>
 </div>