<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8 blogPost">
                    <div class="post" *ngFor="let post of allPosts">
                    <div class="blog-title">
                        {{post.title}}
                    </div>
                    <div class="blog-image">

                    </div>
                    <div class="blog-type">
                        Category: {{post.catgegory}}
                    </div>
                    <div class="blog-content">
                        {{post.content}}
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">

                </div>
            </div>
        </div>
    </div>
</div>